.App {
  text-align: center;
  background-image: url(ff.avif);
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(10px);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-header {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #080808;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  width: 400px;
  padding: 30px;
  padding-left: 90px;
  padding-right: 90px; 
  color: #101010;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h3 {
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
  color: #141414;
}

input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  background: #fff;
  color: #121212;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 17px;
  padding: 12px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: #444;
  transform: scale(1.05);
}

img {
  border-radius: 15px;
  width: 650px;
  margin: 20px 0;
}

a {
  color: #111;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  z-index: 1000;
}

.popup-content {
  font-size: 18px;
  font-weight: bold;
  color: #4CAF50;
}

h1 {
  color: #000;
  margin-bottom: 25px;
  font-size: 24px;
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  width: 100%;
}

.input-container i {
  margin-right: 10px;
  font-size: 20px;
  color: gray;
}

.input-container input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
}

.message {
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.success {
  color: green;
}

.error {
  color: red;
}